
button {
	$main-color: $color-white;

	@include display-flex(row, flex-start, center, 1rem);

	height: 2.5rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: none;
	background-color: rgba($main-color, 0.05);
	outline: 2px solid rgba($main-color, 0.2);
	cursor: pointer;
	transition: background-color 0.2s ease-out;

	&:hover {
		background-color: rgba($main-color, 0.1);
	}
}