
/* Regular version */
@font-face {
	font-family: "JetBrains Mono", monospace;
	src: url("../assets/fonts/variable-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* Italic version */
@font-face {
	font-family: "JetBrains Mono", monospace;
	src: url("../assets/fonts/variable-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
