
input {
	$main-color: $color-white;

	@include display-flex(row, flex-start, center, 1rem);

	height: 2.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	border: none;
	background-color: transparent;
	outline: 2px solid rgba($main-color, 0.2);
}